.accordions-container {
  width: 40%;
}
.accordions-container .label {
  align-items: center;
  font-weight: 400;
  color: white;
}
.accordions-container .sections {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.accordions-container .outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: blueviolet;
  border-radius: 13px;
  padding: 5px 16px;
  cursor: pointer;
}
.accordions-container .accordion-style {
  font-size: larger;
  font-weight: bold;
  margin-left: 13px;
  margin-bottom: 4px;
}
